#displayAnswer {
    font-size: 40px;
}
        
.moblieDiv {
    display: inline-block;
    margin: 20px;
} 

.mobileImg{
  width: 145px;
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
}

.text {
    text-align: center;
}

#bulb {
    border: 0px;
    margin-left: 50px;                        
}

td {
    text-align: center;    
}

.inc {
    margin-top: 20px;
    margin-left: 15px;
}

.inc > span {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

.format {

    width: 250px;
    height: 230px;

}

.showData {
    margin-top: 20px;
}

button {
    margin: 5px;
}

#todo-item {
    padding: 3px;
}

.column {
    float: left;
    width: 25%;
    padding: 24px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
    text-align: center;    
  }  
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: -12px;
    right: 150px;
    color: black;
    font-size: 45px;
    cursor: pointer;
  }
  
  .modalImg {
    height: 190px;
    width: 290px;
  }

  #expandedImg {
    width: 700px;
    height: 400px;

  }

  #text {
      font-weight: 400;
      font-family: sans-serif;
  }