#displayAnswer {
    font-size: 40px;
}
        
.moblieDiv {
    display: inline-block;
    margin: 20px;
} 

img{
  width: 145px;
  border: 1px solid gray;
  display: inline-block;
  padding: 5px;
}

.text {
    text-align: center;
}

#bulb {
    border: 0px;
    margin-left: 50px;                        
}

td {
    text-align: center;    
}

.inc {
    margin-top: 20px;
    margin-left: 15px;
}

.inc > span {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

.format {

    width: 250px;
    height: 230px;

}

.showData {
    margin-top: 20px;
}

button {
    margin: 5px;
}

#todo-item {
    padding: 3px;
}


/* .button {
    background-color: coral;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

.button:hover {
    background-color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 14% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17)
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #0000;
    text-decoration: none;    
    cursor: pointer;
} */


.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }
  
  .modalImg {
    height: 190px;
    width: 290px;
  }